.button{
    -fx-background-color : #1E8CCE;
}

.button:hover{
    -fx-background-color : #B4D8EE ;
}

.button:pressed{
    -fx-background-color : #E6F2F9 ;
}

.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}

.login{
    -fx-font-family: Helvetica, Arial, sans-serif;
}

#login_button.button{
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 24px, bold;
}

#login_button.button:hover{
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-transition-duration: 2s;
    -fx-font-size: 24px, bold;
}

#login_button.button:pressed{
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-transition-duration: 2s;
    -fx-font-size: 24px, bold;
}